.App {
  /* text-align: center; */
}

.App {
  max-width: 728px;
  margin: 0 auto;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: #0066ff; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  cursor: pointer;
  font-size: <edium;
  text-transform: uppercase;
}

.flex-form {
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  /* width: 85%; */
  /* margin: 0 auto; */
  /* align-items: center; */
}

input {
  line-height: normal;
  width: 100%;
  font-size: 1.5rem;
  background: black;
  color: #f9e900;
  outline: none;
  border: none;
  padding: 0 10px;
  animation: text-flicker 3s linear infinite;
  flex: 2 0 250px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

form button {
  /* height: 40px; */

  /* flex: 1 0 90px; */
  /* vertical-align: middle; */
  background-color: #ff0000d5;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* align-items: center; */
}
.message {
  display: flex;
  align-items: center;
}
.sent {
  flex-direction: row-reverse;
  /* background-color: grey; */
}

.sent p {
  border-radius: 5px;
  color: white;
  background-color: #ff00e6;
}

.received p {
  border-radius: 5px;
  color: white;
  background-color: #1086e8;
}
